GITHUB_TOKEN=
SUPABASE_HOST=
SUPABASE_PORT=6543
SUPABASE_DB_NAME=postgres
SUPABASE_USER=
SUPABASE_PASSWORD=

# RabbitMQ (usado pelo producer e consumer da fila)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
